.title h1{
  /*background-image: image("./resources/images/pattern.jpeg"); <-- for some reason this method didn't work and i can't figure out why*/
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

.brushes h2{ /*is it better to make more divs or to make the separate h2's with their separate products? */
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

.frames h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}

.paint h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}

h3{
  font-family: Helvetica;
  font-weight: bold;
}

p{
  font-family: Helvetica;
}

.pricing{
  font-weight: bold;
  color: blue;
}


/*might have to make the pricing section its own div id
